@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #092327;
  min-height: 100vh;
  color: #fff;
}

.page__content {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1600px;
  min-width: 320px;
  width: 100%;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inactive-button {
  pointer-events: none;
}

@import url(./components/Header/Header.css);
@import url(./components/Promo/Promo.css);
@import url(./components/Specs/Specs.css);
@import url(./components/PuzzleAnimation/PuzzleAnimation.css);
@import url(./components/Popup/Popup.css);
@import url(./components/BurgerMenu/BurgerMenu.css);
